.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  border-bottom: 1px solid #E9ECEF;

  @media (max-width: 767px) {
    padding: 16px 20px 11px;
  }

  &__action-button {
    @media (max-width: 767px) {
      display: none;
    }
  }
}