@import-normalize;

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'HelveticaNeue', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}