@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
      url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}